body{
    background: fixed linear-gradient(to right, rgba(177, 154, 118, 0.637)  24%, #684723 75%);
    height: max-content;
}
h2{
  text-align: center;
    font-size: 300%;
    color: #ffffffc4;
    text-shadow: 
        -1px -1px 0 rgb(231, 208, 75),
        1px -1px 0 rgb(255, 123, 0),
        -1px 1px 0 rgb(240, 216, 80), 
        1px 1px 0 rgb(255, 123, 0);
    font-family: 'Black Ops One', cursive;
}
.card {
    margin: auto;
    --main-color: #323232;
    width: auto;
    height: auto;
    border: 2px solid var(--main-color);
    box-shadow: 4px 4px var(--main-color);
    border-radius: 5px;
    display: block;
    padding: 20px;
    margin: 20px;
    color: #684723;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

  }
  
  .card:last-child {
    justify-content: flex-end;
  }
  
  .card-img {
    display: block;
    justify-content: center;
    background-size: cover;
    height: 100%;
  }
  
  .card-title {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    font-weight: bold;
  }
  
  .card-subtitle {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    font-style: italic;

  }
  
  .card-divider {
    width: 100%;
    border: 1px solid var(--main-color);
    border-radius: 50px;
  }
  
  .card-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .card-link {
    font-size: 20px;
    font-weight: bold;
    margin: auto;
  }

  button{
    padding: 10px 20px 10px 20px;
    color: #684723;
  }

  button:hover{
    background-color: #5c3f2648;
  }

  footer {
    width: 100%;
    background-color: #00000081;
    color: #fff;
    font-size: 20px;
    text-align: center;
    position: static;
    left: 0;
    bottom: 0;
  }

  h1{
    margin-bottom: 0 !important;
  }

  header{
    text-align: center;
    font-size: 300%;
    color: #ffffffc4;
    text-shadow:  
        -1px -1px 0 rgb(231, 208, 75),
        1px -1px 0 rgb(255, 123, 0),
        -1px 1px 0 rgb(240, 216, 80), 
        1px 1px 0 rgb(255, 123, 0);
    font-family: 'Black Ops One', cursive;
    background-color: #00000081;
  }

  .hatter{
    background-color: rgba(255, 255, 255, 0.61);
    color: #3f3c3c;
    padding: 0% 20%;
    border: 2px dashed #3f3c3c;
    margin-bottom: 50px;
    
  }

  #ingredients{
    border-right: #3f3c3c 2px solid;
    padding-right: 15px;
  }
  .card img{
    margin: auto;
  }